.title{
	-fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
  -fx-background-insets: 0, 1, 2;
  -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
  -fx-padding: 2 14 3 10;
  -fx-color: -fx-focus-color;
  -fx-font-size: 10px;
}